@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-style {
  width: 50px;
  margin-inline: 10px;
  font-size: 24px;
}
.btn-style-2 {
  width: 100px;
  margin-inline: 10px;
  font-size: 24px;
}
.text-format {
  font-size: 32px;
  color: red;
}
